
@media (max-width: 991px) {
    section {
        padding: 20px;
        padding-top:80px;
        padding-bottom:110px;
    }

    section.text-only {
        padding: 15px 10px;
    }

    #expect {
        background: url("../img/dock_panorama_small.jpeg") no-repeat;
        background-size: 100% auto;
        padding-top: 50px;
        padding-bottom:140px;
    }
    #bring {
        background: url("../img/hammock_small.jpeg") no-repeat;
        background-size: 100% auto;
        padding-top: 50px;
        padding-bottom:140px;
    }
    #faq {
        background: url("../img/dock_storytelling_small.jpeg") no-repeat;
        background-size: 100% auto;
        padding-top: 7px;
        padding-bottom:143px;

    }

    /* reservations.html */
    #reservations {
        background: url("../img/dusk_trail_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #summer-reservations {
        background: url("../img/dusk_trail_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #fall-reservations {
        background: url("../img/dusk_trail_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #calendar {
        background: url("../img/paddle_board_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #rates {
        background: url("../img/cabin_interior1_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #maps {
        background: url("../img/swimming_sunset_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #directions {
        background: url("../img/dusk_trail_small.jpeg") no-repeat;
        background-size: 100% auto;
    }

    /*  volunteer.html */
    #overview {
        background: url("../img/roofing_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #volunteer {
        background: url("../img/dusk_trail_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #work-weekends {
        background: url("../img/paddle_board_small.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #committee {
        background: url("../img/paddle_board_small.jpeg") no-repeat;
        background-size: 100% auto;
    }

}

@media (min-width: 992px) {
    section {
        padding: 100px 0px;
    }

    #expect {
        background: url("../img/dock_panorama.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #bring {
        background: url("../img/table2.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #faq {
        background: url("../img/dock_storytelling.jpeg") no-repeat;
        background-size: 100% auto;
    }

    /* reservations.html */
    #reservations {
        background: url("../img/dusk_trail.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #summer-reservations {
        background: url("../img/dusk_trail.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #fall-reservations {
        background: url("../img/dusk_trail.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #calendar {
        background: url("../img/paddle_board.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #rates {
        background: url("../img/cabin_interior1.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #maps {
        background: url("../img/swimming_sunset.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #directions {
        background: url("../img/dusk_trail.jpeg") no-repeat;
        background-size: 100% auto;
    }

    /*  volunteer.html */
    #overview {
        background: url("../img/roofing2.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #volunteer {
        background: url("../img/dusk_trail.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #work-weekends {
        background: url("../img/paddle_board.jpeg") no-repeat;
        background-size: 100% auto;
    }
    #committee {
        background: url("../img/paddle_board.jpeg") no-repeat;
        background-size: 100% auto;
    }

}

ul.bold-headers li {
    font-weight: bold;
    color: black;
}

ul.bold-headers li p {
    font-weight: normal;
    color: #7e7e7e;
}

ul.checklist-yes {
    list-style-image: url("../img/checkbox-checked.png");
}
ul.checklist-yes span {
    position: relative;
    top: -1px;
}
ul.checklist {
    list-style-image: url("../img/checkbox_unchecked.png");
}
ul.checklist span {
    position: relative;
    top: -1px;
}
ul.checklist-no {
    list-style-image: url("../img/checkbox-redx.png");
}

ul ul, ul.checklist li ul {
    list-style-type: none;
    padding-left: 0px;
}

body {
    color: #7e7e7e;
}

h1, h2, h3, h4, h5, strong {
    color: black;
}

