
@media (max-width: 991px) {
    section {
        padding: 25px;
    }
}

@media (min-width: 992px) {
    section {
        padding: 100px 0;
    }

    .partial-width-table {
        max-width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

ul li {
    font-weight: bold;
}

ul li li, ul.navbar-nav li, .regular-list li {
    font-weight:normal;
}

ul ul {
    list-style-type: none;
    padding-left: 0px;
}

#expect {
    background: url("../img/dock_panorama.JPG") no-repeat;
    background-size: 100% auto;
}
#bring {
    background: url("../img/table2.jpg") no-repeat;
    background-size: 100% auto;
}
#faq {
    background: url("../img/dock_storytelling.jpg") no-repeat;
    background-size: 100% auto;
}

/* reservations.html */
#reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#summer-reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#fall-reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#calendar {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
#maps {
    background: url("../img/swimming_sunset.JPG") no-repeat;
    background-size: 100% auto;
}
#directions {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}

/*  volunteer.html */
#overview {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#volunteer {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#work-weekends {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
#committee {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
