


@media (max-width: 991px) {
    #about {
        padding-top: 100px;
        background: url("../img/sunrise-small.jpeg") no-repeat;
        background-size: 100% auto;
    }

    section {
        padding: 25px;
    }
}


@media (min-width: 992px) {
    #about {
        padding: 150px;
        background: url("../img/sunrise-low.jpeg") no-repeat;
        background-size: 100% auto;
    }

    section {
        padding: 100px 0;
    }

    .partial-width-table {
        max-width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

#expect {
    background: url("../img/dock_panorama.JPG") no-repeat;
    background-size: 100% auto;
}
#bring {
    background: url("../img/maindock.jpg") no-repeat;
    background-size: 100% auto;
}

/* reservations.html */
#reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#summer-reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#fall-reservations {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#calendar {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
#maps {
    background: url("../img/king-queen-chairs.jpg") no-repeat;
    background-size: 100% auto;
}
#directions {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}

/*  volunteer.html */
#overview {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#volunteer {
    background: url("../img/dusk_trail.jpg") no-repeat;
    background-size: 100% auto;
}
#work-weekends {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
#committee {
    background: url("../img/paddle_board.JPG") no-repeat;
    background-size: 100% auto;
}
