<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AMC Three Mile Island Camp | Lake Winnipesaukee, New Hampshire - Visit</title>

    <!-- Bootstrap core CSS -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>

<body id="page-top">
<div id="app">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="index.html">
        <img src="img/logo_small.png" class="d-xs-inline d-sm-inline d-md-none d-lg-none" />
        <img src="img/logo.png" class="d-none d-md-inline" /> Three Mile Island <span class="d-none d-md-inline">Camp</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="index.html" id="aboutDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About</a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdownMenuLink">
                    <a class="dropdown-item js-scroll-trigger" href="index.html#about">About</a>
                    <a class="dropdown-item js-scroll-trigger" href="index.html#expect">What to Expect</a>
                    <a class="dropdown-item js-scroll-trigger" href="index.html#bring">What to Bring</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="visit.html" id="reservationsDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Visit</a>
                <div class="dropdown-menu" aria-labelledby="reservationsDropdownMenuLink">
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#reservations">Overview</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#summer-reservations">Summer</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#fall-reservations">Fall</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#calendar">Calendar</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#rates">Rates</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#maps">Maps</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#directions">Getting Here</a>
                    <a class="dropdown-item js-scroll-trigger" href="visit.html#faq">FAQs</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="volunteer.html" id="volunteerDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Get Involved</a>
                <div class="dropdown-menu" aria-labelledby="volunteerDropdownMenuLink">
                    <a class="dropdown-item js-scroll-trigger" href="volunteer.html#overview">Volunteer Tradition</a>
                    <a class="dropdown-item js-scroll-trigger" href="volunteer.html#work-weekends">Opportunities</a>
                    <a class="dropdown-item js-scroll-trigger" href="volunteer.html#committee">TMI Committee</a>
                    <a class="dropdown-item js-scroll-trigger" href="volunteer.html#volunteer">How to Get Involved</a>
                </div>
            </li>

            <li class="nav-item">
                <a href="http://www.facebook.com/ThreeMileIslandCamp" target="_blank"><img alt="Facebook f logo" height="25" src="img/f_logo.png" width="25"></a>
            </li>
        </ul>
    </div>
</nav>
<!-- end navigation -->
<div style="height: 57px;" id="reservations">&nbsp;</div> <!-- shim to prevent navbar from overlapping content -->
<section  class="text-white major" id="reservations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">Visiting the island</h2>
            </div>
        </div>
    </div>
</section>

<section id="reservations-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>
                    The camp <a class="js-scroll-trigger" href="#summer-reservations">
                    summer season</a> is nine weeks long, and there are 4
                    <a class="js-scroll-trigger" href="visit.html#fall-reservations">fall weekends</a>.
                    The maximum stay is normally two weeks; an optional third week may be
                    requested after all two-week reservations have been accommodated. In addition, there are a few
                    off-season programs, including a <a href="http://www.milesofmusiccamp.com/" target="_blank">music camp</a>
                    and 2 <a href="http://carolfaulkneryoga.com/retreats.html" target="_blank">yoga retreats</a>.
                </p>
                <p>No children under the age of four are permitted, and no pets.</p>

                <div class="card">
                    <div class="card-header">
                        <a data-toggle="collapse" href="#reservationInstructions" aria-expanded="false" aria-controls="reservationInstructions">
                            How to Send a Reservation Request
                        </a>
                    </div>
                    <div class="collapse" id="reservationInstructions">
                        <div class="card-block" style="padding:2px 10px;">
                            <p>To request a reservation you must mail these four items:</p>
                            <ol>
                                <li><strong>Reservation Form</strong> (<a target="_blank" href="docs/2017%20Summer%20Reservation%20Form%20(FINAL)_0.pdf">Summer</a>
                                    and/or <a target="_blank" href="docs/2017%20Fall%20Weekend%20Reservation%20Form%20(FINAL).pdf">Fall Weekend</a>).</li>
                                <li><strong>AMC Liability Waiver</strong> (<a target="_blank" href="docs/VMF%20Risk%20and%20Release_2010.pdf">
                                    waiver form</a>). Up to six campers may sign on each copy of this form.</li>
                                <li><strong>Deposit</strong> For Summer reservations, $100 per person per week (non-refundable);
                                    for Fall Weekends, include full payment. If applicable, Summer and Fall payments should be
                                    separate checks. In either case, make the check out to "Three Mile Island A.M.C."
                                    <a href="#rates" class="js-scroll-trigger">Prices</a> are listed here.</li>
                                <li><strong>Self-addressed, stamped envelope.</strong></li>
                            </ol>
                            <p>
                                Mail the application to the Registrar at the address below. Have it postmarked between January 1
                                and Febuary 1 to maximize your likelihood of getting a spot during the week/s you prefer (see
                                <a href="#summer-reservations" class="js-scroll-trigger">'Lottery'</a>). If you
                                are requesting both a Fall Weekend and a Summer reservation, they may be submitted in the same
                                envelope, but please include a separate deposit check for each. Once your Summer reservation
                                request is accepted, the deposit is non-refundable unless we are
                                unable to accommodate your request. The Fall Weekend payment may be refunded (minus a $25 processing
                                fee), if the cancellation request is received at least 45 days prior to scheduled arrival.
                            </p>
                            <address>Sally Hopkins Wilson, Registrar<br />P.O. Box 736<br />Moorestown, NJ 08057</address>
                            <address><a href="mailto:registrar@3mile.org?subject=Registration%20Questions">registrar@3mile.org</a></address>
                            <p>
                                <strong>Exception</strong>: After June 15, Summer (but not Fall) applications (as well as
                                questions, cancelations and other changes) should be sent directly to the camp:
                            </p>
                            <address>AMC Three Mile Island<br />via U.S. Mailboat<br />Laconia, NH 03246<br />603-279-7626</address>
                            <h4>Launch times</h4>
                            <p>
                                Please indicate preferred launch time with your reservation at the bottom of the form where it
                                says "Arrival Time." Summer launch times are 9:00 AM, noon, 2:00 PM (Saturday ONLY) and 5:00 PM.
                                Fall launch times are normally 5:00 PM and 8:30 PM on Friday and 9:00 AM on Saturday, returning
                                after lunch on Sunday.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="summer-reservations" class="text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">Summer</h2>
            </div>
        </div>
    </div>
</section>

<section id="summer-reservations-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>
                    While away the morning at the main dock, reading or challenging your kids at ping pong. Get in line
                    for the mailboat to buy postcards, postage and, more importantly, ice cream sandwiches. In the afternoon, take
                    out one of the day sailers to explore the wind and waves, or kayak over to Blueberry Island to catch a glimpse
                    of nesting bald eagles. If it's too hot, sit in a rocking chair on the main hall's porch to catch the breeze
                    while you shoot the breeze with your friends. Or take a nap in your hammock. A perfect summer day, all week long.
                </p>
                <h4>Lottery</h4>
                <p>
                    Three Mile Island is very popular, and summer reservations fill up early. All reservation requests postmarked
                    between January 1 and February 1 are entered into a lottery. Reservation requests postmarked after
                    February 1 are welcome, but they will only be considered after all those postmarked between
                    January 1 and February 1 have been processed.
                </p>
                <h4>Summer Starter Reservations for 2017</h4>
                <p>
                    Start your summer at Three Mile Island with a specially priced 3-night or 4-night stay during the first week of Camp.
                </p>
                <p>
                    Only $220 (3 nights)/$295 (4 nights) adult, $158/$210 ages 10-13, $137/$182 ages 4-9 (10% surcharge applies for nonmembers)
                </p>
                <ul>
                    <li>Saturday, June 24 to Tuesday, June 27 (3 nights)</li>
                    <li>Tuesday, June 27 to Saturday, July 1 (4 nights) </li>
                </ul>
                <a target="_blank" href="docs/2017%20Summer%20Information%20(FINAL).pdf">Summer Information Sheet</a><br />
                <a target="_blank" href="docs/2017%20Summer%20Reservation%20Form%20(FINAL)_0.pdf">Summer Reservation application form</a><br/>
                <a target="_blank" href="docs/VMF%20Risk%20and%20Release_2010.pdf">AMC Liability Waiver Form</a>
            </div>
        </div>
    </div>
</section>

<section id="fall-reservations" class="text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">Fall</h2>

            </div>
        </div>
    </div>
</section>

<section id="fall-reservations-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>
                    The Fall season includes four "quasi full service" weekends - meaning that
                    you carry your own baggage to your cabin, and you bring your own bedding and towels - staffed by
                    "Veteran Croo" members who are thrilled to be back on the island and bring high levels of enthusiasm.
                    The atmosphere is relaxed, and the weather is often superb.
                </p>

                <p>
                    Each weekend includes three meals on Saturday, breakfast and lunch on Sunday, as well as canoe
                    and sailboat use. Of course, there is an extra day included for the Labor Day weekend. Bring
                    sleeping bags, pillow cases, towels, and flashlights.
                </p>

                <a target="_blank" href="docs/2017%20Fall%20Weekend%20Information%20(FINAL).pdf">Fall Weekend Information Sheet</a><br />
                <a target="_blank" href="docs/2017%20Fall%20Weekend%20Reservation%20Form%20(FINAL).pdf">Fall Weekend Reservation application form</a><br/>
                <a target="_blank" href="docs/VMF%20Risk%20and%20Release_2010.pdf">AMC Liability Waiver Form</a>
            </div>
        </div>
    </div>
</section>

<section id="calendar" class="bg-light text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">
                    <span id="calendar-year">{{calendarData.year}}</span> Season Calendar
                </h2>
            </div>
        </div>
    </div>
</section>

<section id="calendar-table" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <table class="table table-bordered table-striped table-hover">
                    <tbody id="calendar-list">
                        <tr v-for="(value,key) in calendarData.weeks">
                            <th>{{key}}</th>
                            <td>{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="rates" class="bg-light text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">
                    <span id="rates-calendar-year">{{calendarData.year}}</span> Rates
                </h2>
            </div>
        </div>
    </div>
</section>

<section id="rates-table" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>The rates below include meals and lodging per person.</p>
                <h5>2017 Summer Season Rates (June 24 through August 26)</h5>

                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <th>AMC Members</th>
                        <th>Weekly</th>
                        <th>Nightly</th>
                    </tr>
                    <tr>
                        <td colspan="3">Adult</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Double occupancy</td>
                        <td>$605</td>
                        <td>$147</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Single occupancy</td>
                        <td>$673</td>
                        <td>$164</td>
                    </tr>
                    <tr>
                        <td colspan="3">Children</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Ages 4–9</td>
                        <td>$375</td>
                        <td>$92</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Ages 10–13</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Double occupancy</td>
                        <td>$422</td>
                        <td>$103</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;Single occupancy</td>
                        <td>$482</td>
                        <td>$117</td>
                    </tr>
                    </tbody>
                </table>
                <p> -> Non-members Add 10% to all summer rates.</p>

                <p>&nbsp;</p>
                <h5>2017 Fall Weekend Rates (September, weekends only)</h5>

                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <th> </th>
                        <th>AMC Members</th
                        ><th>Non Members</th>
                    </tr>
                    <tr>
                        <td>Two-day weekend</td>
                        <td>$155</td>
                        <td>$175</td>
                    </tr>
                    <tr>
                        <td>Labor Day weekend</td>
                        <td>$235</td>
                        <td>$255</td>
                    </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>
                <h5 colspan="3">2017 Summer Starter (June 24 - June 27 OR June 27 - July 1)</h5>
                <table class="table table-bordered table-striped table-hover">
                    <tbody>
                    <tr>
                        <td>AMC Members</td>
                        <td><strong>3-Night Starter</strong></td>
                        <td><strong>4-Night Starter</strong></td>
                    </tr>
                    <tr>
                        <td>Adult</td>
                        <td>$220</td>
                        <td>$295</td>
                    </tr>
                    <tr>
                        <td colspan="3">Children</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Ages 4-9</td>
                        <td>$137</td>
                        <td>$182</td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;Ages 10-13</td>
                        <td>$158</td>
                        <td>$210</td>
                    </tr>
                    </tbody>
                </table>
                <p> -> Non-members Add 10% to all summer rates.</p>

                <p>&nbsp;</p>
                <p>
                    Fall Yoga Weeks (August 28 through September 8): visit the
                    <a href="http://carolfaulkneryoga.com/retreats.html" target="_blank">Yoga Retreats</a> site.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="maps" class="bg-light text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">
                    Maps
                </h2>
            </div>
        </div>
    </div>
</section>

<section id="maps-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <a href="https://drive.google.com/open?id=16Xd5F4TBSQOMSleXOEEYHQN0ZTU&usp=sharing" target="_blank">Interactive Google map</a>
                <br>
                <a href="http://dsl.richmond.edu/historicalatlas/44/d/" target="_blank">A plan of Meredith, NH, in 1770</a>
                <br>
                <a href="img/map_0.jpeg" target="_blank"><img src="img/map_0.jpeg" alt="Three Mile Island Map" width="100%" /></a>
            </div>
        </div>
    </div>
</section>

<section id="directions" class="bg-light text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white text-right">
                    Getting Here
                </h2>
            </div>
        </div>
    </div>
</section>
<section id="directions-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p>
                    The A.M.C. Three Mile Island Camp launch, the "Appy V", picks up and drops off passengers at the
                    Public Boat landing at Shep Brown's Boat Basin in Meredith, NH. During the summer season, there are
                    scheduled launch times at 9:00 am, 12:00 noon, 2:00 pm (Sat. only), and 5:00 pm. Launch
                    passengers should have reservations on the island or have made previous arrangements with the
                    Summer Manager or Off-Season Manager.
                </p>
                <p>
                    <a target="_blank" href="http://www.google.com/maps?f=d&saddr=&daddr=31+Lovejoy+Sands+Rd,+Meredith,+NH+03253+(Shep+Brown%27s+Boat+Basin)&hl=en&geocode=&mra=mi&sll=43.640646,-71.493429&sspn=0.177398,0.213547&ie=UTF8&z=12">
                        Google Map showing Shep Brown's Boat Basin</a>
                    <br>
                    <a target="_blank" href="docs/directions_0.pdf">Printable directions to Shep Brown's Boat Basin</a>
                </p>
                <p>
                    Please park in the Three Mile Island lot,on the right side of the road as you head toward the lake, just
                    before the first storage building, rather than the main public lot. There is a "sandwich board" sign in front
                    of the Three Mile Island parking lot, and it's only about a
                    three-minute walk to the dock. If the gate is locked, ask the Launch Driver for the combination.
                </p>
                <p>
                    Handicapped accessible parking continues to be available in the
                    main public lot right in front of the public docks.
                </p>
                <div class="card">
                    <div class="card-header">
                        <a data-toggle="collapse" href="#drivingDirections" aria-expanded="false" aria-controls="drivingDirections">
                            Driving directions to Shep Brown's Boat Basin
                        </a>
                    </div>
                    <div class="collapse" id="drivingDirections">
                        <div class="card-block" >
                            <ul class="regular-list">
                                <li>
                                    From Interstate 93, take Exit 23, Route 104.</li><li>Follow Route 104 east for about 8 miles.
                            </li>
                                <li>
                                    Turn left, (north) onto Route 3.
                                </li>
                                <li>
                                    Follow Route 3 for about a mile into the village of Meredith. (You'll see Meredith Bay on the right).
                                </li>
                                <li>
                                    Turn right at the traffic light onto Route 25 East.
                                </li>
                                <li>
                                    Follow Route 25 east for a short distance and bear right onto Pleasant Street.
                                </li>
                                <li>
                                    Follow Pleasant Street for about 1/2 mile to the end; bear right onto Meredith Neck Road.
                                </li>
                                <li>
                                    Follow Meredith Neck Road for about 2.5 miles; turn left on Lovejoy Sands Road (follow the
                                    signs to "Shep Brown's Boat Basin")
                                </li>
                                <li>
                                    The Three Mile Island parking lot is a short distance down Lovejoy Sands Road on
                                    the right. The public boat landing is straight ahead.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="faq" class="text-white major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white">Frequently Asked Questions</h2>
            </div>
        </div>
    </div>
</section>

<section id="faq-div" class="text-only major">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto" id="faq-accordion-div">
                <section v-for="(questions, section, outerIdx) in faqData">
                    <br/>
                    <h4>{{section}}</h4>
                    <hr>
                    <div id="faq-accordion" data-children=".questions">
                        <div class="questions" v-for="(a, q, innerIdx) in questions">
                            <a data-toggle="collapse" data-parent="#faq-accordion" :href="'#faq-accordion-'+ outerIdx+innerIdx" aria-expanded="false" :aria-controls="'faq-accordion-'+ outerIdx+innerIdx">{{q}}?</a>
                            <div :id="'faq-accordion-'+ outerIdx+innerIdx" class="collapse" role="tabpanel"><p class="mb-3">{{a}}</p></div>
                        <hr>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
</div> <!-- end of app -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-white">AMC Three Mile Island Camp</p>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-sm-4">
                <p class="m-0 text-white">Summer contact:</p>
                <p class="m-0 text-white">1 Three Mile Island</p>
                <p class="m-0 text-white">Laconia, NH 03246</p>
                <p class="m-0 text-white">603-279-7626</p>
            </div>
            <p>&nbsp;</p>
            <div class="col-sm-6">
                <p class="m-0 text-white">Off-season mailing address:</p>
                <p class="m-0 text-white">Sally Hopkins Wilson, Registrar</p>
                <p class="m-0 text-white">P.O. Box 736</p>
                <p class="m-0 text-white">Moorestown, NJ 08057</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <p class="m-0 text-right text-white">Copyright &copy; <span id="copyright-year"></span> AMC Three Mile Island Camp </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<script src="js/vendor/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/vendor/jquery.easing.min.js"></script>

<!-- Vue.js -->
<script src="js/vendor/vue.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>
<script src="js/main.js"></script>

</body>

</html>
